<h1><%= @wrestler.name %></h1>

<ul>
    <li>Born <%= @wrestler.birthdate %></li>
    <li>Hails from <%= @wrestler.hails_from %></li>
    <li>Belt(s) Held: <%= @wrestler.belt %></li>
    <li>Special Move(s): <%= @wrestler.special_move %></li>
</ul>

<button type="button" class="btn btn-outline-primary">
    <a href="/wrestlers/<%= @wrestler.id %>/edit">
        Edit
    </a>
</button> <br><br>

<form action="/wrestlers/<%= @wrestler.id %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" class="btn btn-outline-danger" value="Delete Wrestler">
</form>